.logo {
  width: 100%;
  margin: 0 auto;
  // border: 2px solid red;
  text-align: center;

}

.apems_wrap {
  width: 50%;
  margin: 0 auto;
  line-height: 40px;
  h1,
  h3 {
    text-align: center;
  }
  img {
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .logo {
  width: 45%!important;

}

  .apems_wrap {
    width: 80%;
    line-height: 30px;

    div {
      & > ul {
        padding: 0;
        ul {
          padding: 0px 15px;
        }
      }
    }
  }
}
